# Fichiers de l'IDE
.idea/
.vscode/

# Environnement virtuel
venv/
.env
.venv

# Exports
exports/

# Pictures
imgs/
old/

# Fichiers de compilation
__pycache__/
*.pyc

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de logs
*.log
logs/

# Fichiers d'exportation
*.json

# Anciens programmes et tests
old/